#canvas {
  border: 1px solid aliceblue;
  cursor: crosshair;
  margin: 15px;
}
body {
  margin-top: 2% !important;
  font-family: roboto, Arial, sans-serif !important;
  background-color: #17223b !important;
  color: aliceblue !important;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
button{
  border-radius: 30px !important; 
}

#saveBtn{
  display: block;
  margin-left: 0;
}

#restoreBtn{
  margin: 5px;
}

.toolbar{
  margin-left: 0;
  align-items:flex-start;
}

#footer1 {
  margin-top: 2% !important;
}

#colorTools,
#brushSizeTools,
#imageTools,
#backgroundColorTools {
  margin-bottom: 10px;
}

#buttonContainer {
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

